.input-bg
{
    background-color: #f3f3f3;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 20px;
    background-color: #f4f4f4f4;
}
.lato-light-italic,p ,input,small,li,textarea{
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-bold,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}
.bg-color
{
    background-color: #ffffff;
}


.scrollable-div
{
    overflow-y: auto; /* Enable vertical scrolling */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay.show {
    opacity: 1;
}



